
# Data and generated artifacts
/results/
/logs/

# Large files
data/Labeled_Datasets/Ecuador/Ecuador_part_all.gzip.parquet

# NFS temporary files
.nfs*

# BERTopic outputs
BERTopic_model/
**/BERTopic_model/

# Jupyter
.ipynb_checkpoints/
~/.jupyter/
~/.jupyter/workspaces/
*.out
*.err

# Python
__pycache__/
*.py[cod]
*$py.class

